// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@font-face {
  font-family: 'League Gothic';
  src: url('../../lib/font/league_gothic-webfont.eot');
  src: url('../../lib/font/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../lib/font/league_gothic-webfont.woff') format('woff'),
  url('../../lib/font/league_gothic-webfont.ttf') format('truetype'),
  url('../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lobster";
  src: url(../../font/LobsterTwo-Regular.otf);
}

@font-face {
  font-family: "bedas";
  src: url(../../font/BebasNeue.otf);
}

@font-face {
  font-family: "raleway";
  src: url(../../font/Raleway-Regular.otf);
}



@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

$backgroundColor: #000;
// Override theme settings (see ../template/settings.scss)
$heading1TextShadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 20px 20px rgba(0,0,0,.15);
$mainFont: 'Ubuntu', sans-serif;
$mainFontSize: 36px;
$mainColor: #fff;
$headingFont: 'Ubuntu', sans-serif;
$headingColor: #fff;

$linkColor: #D6071B;

// Background generator
/*
@mixin bodyBackground() {
  background: url(background.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

#logo {
  position: absolute;
  bottom: 1em;
  left: 1em;
  background-image: url(logo.png);
  width: 200px;
  height: 47px;
}

.footer {

}

strong {
  color: $linkColor;
  font-weight: normal;
}